In [1]:
import pandas as pd

In [2]:
mvps = pd.read_csv("mvps.csv")

In [3]:
mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Julius Erving,30,PHI,28.0,454.0,690,0.658,82,...,8.0,4.4,2.1,1.8,0.521,0.222,0.787,13.8,0.231,1981
1,1,2,Larry Bird,24,BOS,20.0,423.0,690,0.613,82,...,10.9,5.5,2.0,0.8,0.478,0.270,0.863,10.8,0.160,1981
2,2,3,Kareem Abdul-Jabbar,33,LAL,8.0,286.0,690,0.414,80,...,10.3,3.4,0.7,2.9,0.574,0.000,0.766,14.3,0.230,1981
3,3,4,Moses Malone,25,HOU,8.0,180.0,690,0.261,80,...,14.8,1.8,1.0,1.9,0.522,0.333,0.757,13.7,0.202,1981
4,4,5,George Gervin,28,SAS,1.0,83.0,690,0.120,82,...,5.1,3.2,1.1,0.7,0.492,0.257,0.826,10.5,0.182,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,4,5,Jalen Brunson,27,NYK,0.0,142.0,990,0.143,77,...,3.6,6.7,0.9,0.2,0.479,0.401,0.847,11.2,0.198,2024
706,5,6,Jayson Tatum,25,BOS,0.0,86.0,990,0.087,74,...,8.1,4.9,1.0,0.6,0.471,0.376,0.833,10.4,0.189,2024
707,6,7,Anthony Edwards,22,MIN,0.0,18.0,990,0.018,79,...,5.4,5.1,1.3,0.5,0.461,0.357,0.836,7.5,0.130,2024
708,7,8,Domantas Sabonis,27,SAC,0.0,3.0,990,0.003,82,...,13.7,8.2,0.9,0.6,0.594,0.379,0.704,12.6,0.206,2024
709,8,9,Kevin Durant,35,PHO,0.0,1.0,990,0.001,75,...,6.6,5.0,0.9,1.2,0.523,0.413,0.856,8.3,0.142,2024

In [4]:
mvps = mvps[["Player", "Pts Won", "Pts Max", "Share"]]

In [5]:
mvps

                  Player  Pts Won  Pts Max  Share
0          Julius Erving    454.0      690  0.658
1             Larry Bird    423.0      690  0.613
2    Kareem Abdul-Jabbar    286.0      690  0.414
3           Moses Malone    180.0      690  0.261
4          George Gervin     83.0      690  0.120
..                   ...      ...      ...    ...
705        Jalen Brunson    142.0      990  0.143
706         Jayson Tatum     86.0      990  0.087
707      Anthony Edwards     18.0      990  0.018
708     Domantas Sabonis      3.0      990  0.003
709         Kevin Durant      1.0      990  0.001

[710 rows x 4 columns]

In [6]:
players = pd.read_csv("players.csv")

In [7]:
players

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1,Adrian Dantley,25,UTA,SF,80,NaN,42.7,11.4,...,4.0,6.4,4.0,1.4,0.2,3.5,3.1,30.7,"MVP-12,AS,NBA2",1981
1,1,2,Moses Malone,25,HOU,C,80,NaN,40.6,10.1,...,8.8,14.8,1.8,1.0,1.9,3.9,2.8,27.8,"MVP-4,AS,NBA2",1981
2,2,3,George Gervin,28,SAS,SG,82,82,33.7,10.4,...,3.6,5.1,3.2,1.1,0.7,3.1,2.6,27.1,"MVP-5,AS,NBA1",1981
3,3,4,Kareem Abdul-Jabbar,33,LAL,C,80,NaN,37.2,10.5,...,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2,"MVP-3,AS,NBA1",1981
4,4,5,David Thompson,26,DEN,SG,77,NaN,34.0,9.5,...,2.3,3.7,3.0,0.7,0.8,3.2,3.0,25.5,NaN,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24274,754,569,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
24275,755,570,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
24276,756,571,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
24277,757,572,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
24278,758,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [8]:
del players["Unnamed: 0"]

In [9]:
del players["Rk"]

In [10]:
players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,Adrian Dantley,25,UTA,SF,80,NaN,42.7,11.4,20.3,.559,...,4.0,6.4,4.0,1.4,0.2,3.5,3.1,30.7,"MVP-12,AS,NBA2",1981
1,Moses Malone,25,HOU,C,80,NaN,40.6,10.1,19.3,.522,...,8.8,14.8,1.8,1.0,1.9,3.9,2.8,27.8,"MVP-4,AS,NBA2",1981
2,George Gervin,28,SAS,SG,82,82,33.7,10.4,21.1,.492,...,3.6,5.1,3.2,1.1,0.7,3.1,2.6,27.1,"MVP-5,AS,NBA1",1981
3,Kareem Abdul-Jabbar,33,LAL,C,80,NaN,37.2,10.5,18.2,.574,...,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2,"MVP-3,AS,NBA1",1981
4,David Thompson,26,DEN,SG,77,NaN,34.0,9.5,18.8,.506,...,2.3,3.7,3.0,0.7,0.8,3.2,3.0,25.5,NaN,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24274,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,0.0,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
24275,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
24276,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,0.5,.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
24277,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
24278,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [12]:
del players["Awards"]

In [13]:
players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Adrian Dantley,25,UTA,SF,80,NaN,42.7,11.4,20.3,.559,...,2.4,4.0,6.4,4.0,1.4,0.2,3.5,3.1,30.7,1981
1,Moses Malone,25,HOU,C,80,NaN,40.6,10.1,19.3,.522,...,5.9,8.8,14.8,1.8,1.0,1.9,3.9,2.8,27.8,1981
2,George Gervin,28,SAS,SG,82,82,33.7,10.4,21.1,.492,...,1.5,3.6,5.1,3.2,1.1,0.7,3.1,2.6,27.1,1981
3,Kareem Abdul-Jabbar,33,LAL,C,80,NaN,37.2,10.5,18.2,.574,...,2.5,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2,1981
4,David Thompson,26,DEN,SG,77,NaN,34.0,9.5,18.8,.506,...,1.4,2.3,3.7,3.0,0.7,0.8,3.2,3.0,25.5,1981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24274,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,0.0,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,2024
24275,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
24276,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,0.5,.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
24277,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024
24278,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.474,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [ ]:
players["Player"] = players["Player"].str.replace("*", "", regex=False)

In [14]:
players.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Adrian Dantley,25,UTA,SF,80,NaN,42.7,11.4,20.3,.559,...,2.4,4.0,6.4,4.0,1.4,0.2,3.5,3.1,30.7,1981
1,Moses Malone,25,HOU,C,80,NaN,40.6,10.1,19.3,.522,...,5.9,8.8,14.8,1.8,1.0,1.9,3.9,2.8,27.8,1981
2,George Gervin,28,SAS,SG,82,82,33.7,10.4,21.1,.492,...,1.5,3.6,5.1,3.2,1.1,0.7,3.1,2.6,27.1,1981
3,Kareem Abdul-Jabbar,33,LAL,C,80,NaN,37.2,10.5,18.2,.574,...,2.5,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2,1981
4,David Thompson,26,DEN,SG,77,NaN,34.0,9.5,18.8,.506,...,1.4,2.3,3.7,3.0,0.7,0.8,3.2,3.0,25.5,1981

In [ ]:
def single_row(df):
    if df.shape[0]==1